<div class="box__with__assets box__with__assets--reverse">
    <div class="img__container">
        <img src="./../../assets/img/avant_img.png" alt="">
    </div>
    <div class="box__text">
        <h3 class="c-h3 c-suptitle">not just a social network</h3>
        <h3 class="c-h3 c-suptitle--dark">Creative network</h3>
        <p class="c-paragraph">Ce n'est pas seulement une plateforme, c'est une communauté florissante où l'innovation rencontre
            l'expression artistique. Ici,
            <span class="c-special--text">les créateurs deviennent des pionniers, élevant leurs œuvres au-delà des limites
                conventionnelles.</span>
        </p>
        <p class="c-paragraph">
            Notre engagement envers l'originalité et la créativité est ce qui nous distingue,
            <span class="c-special--text">érigeant Creative Network en tant que phare lumineux dans l'océan des réseaux sociaux.
            </span>
        </p>
        <a href="/" class="btn__link">
            <button>
                En savoir plus
            </button>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewbox="0 0 21 19" fill="none">
                <path d="M0.5 9.25H18.5M18.5 9.25L10.625 1M18.5 9.25L10.625 17.5" stroke="#E0295D" stroke-width="2.25"/>
            </svg>
        </a>
    </div>
</div>