<div class="c-hero">
    <div class="l-container">
        <div class="c-hero__content l-grid l-grid--2cols@medium">
            <div class="c-hero__text">
                <h1 class="c-hero__title c-h1">La passion engendre <span>l’action</span></h1>
                <p class="c-hero__description">Où la créativité rencontre l'interaction : une plateforme offrant une double expérience, alliant réseau social vibrant et opportunités pour les créateurs de vivre de leurs passions.</p>

                <div class="c-hero__buttons">
                    <a href="/beta" class="c-btn c-btn--primary">Rejoindre la beta</a>
                    <a href="mailto:{{ site.email }}" class="c-btn c-btn--secondary">Nous contacter</a>
                </div>
            </div>
                <spline-viewer class="c-hero__spline js-spline" url="https://prod.spline.design/ALwGgs47WruzU4wp/scene.splinecode"></spline-viewer>
        </div>

        <div class="c-hero__gradient-container">
            <canvas class="c-hero__gradient js-gradient"></canvas>

            <svg width="10" height="10" viewBox="0 0 10 10">
                <clipPath id="myClip" clipPathUnits="objectBoundingBox">
                    <path d="M2.01837e-05 0.83346C0.00229549 1.02806 0.272884 0.996022 0.395902 1L0.977148 0.992614C0.98943 0.796332 1.03315 0.434847 0.95237 0.265563C0.863907 0.0801792 0.787191 -0.0263867 0.619231 0.00564949C0.461356 0.0357621 0.403246 0.270095 0.293715 0.416523C0.188585 0.55707 -0.00225628 0.638768 2.01837e-05 0.83346Z" fill="#D9D9D9"/>
                </clipPath>
            </svg>
        </div>
    </div>
</div>