<div class="c-hero">
    <div class="c-hero__deco">
        {% include "svg/logo/logo-text--stroke.svg" %}
    </div>
    <div class="l-container">
        <div class="c-hero__content l-grid l-grid--2cols@medium">
            <div class="c-hero__text">
                <h1 class="c-hero__title c-h1">La passion engendre <span>l’action</span></h1>
                <p class="c-hero__description">Où la créativité rencontre l'interaction : une plateforme offrant une double expérience, alliant réseau social vibrant et opportunités pour les créateurs de vivre de leurs passions.</p>

                <div class="c-hero__buttons">
                    <a href="/beta" class="c-btn c-btn--primary">Rejoindre la beta</a>
                    <a href="mailto:{{ site.email }}" class="c-btn c-btn--secondary">Nous contacter</a>
                </div>
            </div>
            <div class="c-hero__illu">
                <spline-viewer class="c-hero__spline js-spline" url="https://prod.spline.design/ALwGgs47WruzU4wp/scene.splinecode"></spline-viewer>
                <div class="c-hero__gradient-container">
                    <spline-viewer class="c-hero__gradient js-spline" url="https://prod.spline.design/j2Y6LkRM57uXpjNS/scene.splinecode"></spline-viewer>
                    <spline-viewer class="c-hero__gradient c-hero__gradient--shadow js-spline" url="https://prod.spline.design/j2Y6LkRM57uXpjNS/scene.splinecode"></spline-viewer>
                </div>
            </div>
        </div>
    </div>
</div>