<div class="c-section-panel">
    <h4 class="c-section-panel__subtitle">Un petit avant goût</h4>
    <h2 class="c-section-panel__title">Quelques unes de nos solutions</h2>
    <div class="l-container">
        <div class="c-panel">
            <div class="c-panel__card-1">
                <div class="c-panel__bg">
                    <img src="" alt=""/>
                </div>
                <div class="c-panel__text">
                    <h3>Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="c-panel__card-2">
                <div class="c-panel__bg">
                    <img src="" alt=""/>
                </div>
                <div class="c-panel__text">
                    <h3>Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="c-panel__card-3">
                <div class="c-panel__bg">
                    <img src="" alt=""/>
                </div>
                <div class="c-panel__text">
                    <h3>Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="c-panel__card-4">
                <div class="c-panel__bg">
                    <img src="" alt=""/>
                </div>
                <div class="c-panel__text">
                    <h3>Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="c-panel__card-5">
                <div class="c-panel__bg">
                    <img src="" alt=""/>
                </div>
                <div class="c-panel__text">
                    <h3>Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="c-panel__card-6">
                <div class="c-panel__bg">
                    <img src="" alt=""/>
                </div>
                <div class="c-panel__text">
                    <h3>Lorem ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="c-btn" style="margin-top:100px;">Begin now</a>
</div>