// -------------------------------------
// Body
// -------------------------------------

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-gray2);
  font-size: 1.2rem;
  overflow-x: hidden;
  text-wrap: balance;

  @include breakpoint(medium) {
    font-size: calc(20 / 16 * 1rem);
  }
}

body.has-menu {
  overflow-y: hidden;

  @include breakpoint(medium) {
    overflow-y: auto;
  }
}
