// -------------------------------------
// HTML
// -------------------------------------

html {
  font: 400 100%/1.7 var(--fontstack-main);

  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.has-menu {
  overflow-y: hidden;

  @include breakpoint(medium) {
    overflow-y: auto;
  }
}
