// -------------------------------------
// Links
// -------------------------------------

a {
  color: var(--colo--primary);
  font-weight: 400;
}

// -------------------------------------
// Links in titles
// -------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  & > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  & > a:hover {
    text-decoration: underline;
  }
}
