{% macro typeCard(type) %}
    <div class="c-type-card">
        <img src="/assets/img/creator/type-cards/{{ type }}.jpg" alt="Image of a {{ type }} creator" class="c-type-card__img"/>
        <div class="c-slide__content">
            <img src="/assets/img/creator/type-cards/svg/{{ type }}.svg" alt="Icon of a {{ type }}" class="c-type-card__icon"/>
            <h3 class="c-h3 c-type-card__type">{{ type }}</h3>
        </div>
    </div>
{% endmacro %}