/* ---------------------------------
=fonts
--------------------------------- */

@font-face {
  font-family: "Outfit";
  src: url(../fonts/outfit-variable.woff2) format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url(../fonts/switzer-variable.woff2) format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}
