//TODO check for the overflow scroll-x in body
//TODO check for the class name
//TODO paralax effect in .img__container
.box__with__assets {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.img__container {
    max-width: 618px;
    max-height: 600px;
    overflow: hidden;
}
.img__container__media{
    position: relative;
    max-width: 618px;
    max-height: 600px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    img {
        object-fit: cover;
        object-position: center;
        display: block;
        aspect-ratio: 1/1;
    }
}

.box__with__assets--reverse {
    margin: 50px 0;
    gap: 20px;
    .img__container {
        position: relative;
        .job__card {
            position: absolute;
            top: 10%;
            left: 2%;
            background-color: white;
            max-width: 220px;
            width: 100%;
            padding: 25px;
            border-radius: 15px;
            box-shadow: 0px 12px 25px 0px rgba(13, 9, 27, 0.06),
                0px 46px 46px 0px rgba(13, 9, 27, 0.05),
                0px 104px 63px 0px rgba(13, 9, 27, 0.03),
                0px 185px 74px 0px rgba(13, 9, 27, 0.01),
                0px 290px 81px 0px rgba(13, 9, 27, 0);
            z-index: 100;
            color: var(--color-dark);
            &--header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 700;
            }
            &--description {
                p {
                    margin: 0;
                }
            }
        }
        .tools__box {
            position: absolute;
            bottom: 5%;
            left: 5%;
            z-index: 100;
            background-color: white;
            padding: 25px;
            gap: 27px;
            border-radius: 25px;
            box-shadow: 0px 18px 37.5px 0px rgba(13, 9, 27, 0.06),
                0px 69px 69px 0px rgba(13, 9, 27, 0.05),
                0px 156px 94.5px 0px rgba(13, 9, 27, 0.03),
                0px 277.5px 111px 0px rgba(13, 9, 27, 0.01),
                0px 435px 121.5px 0px rgba(13, 9, 27, 0);

            .tools__box--img {
                display: flex;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                }
                :first-child {
                    animation: bounce 2s ease-in infinite;
                    max-width: 100px;
                    max-height: 100px;
                }
                :nth-child(2) {
                    animation: bounce 2.4s ease-in infinite;
                    max-width: 110px;
                    max-height: 110px;
                }
                :last-child {
                    animation: bounce 2.8s ease-in infinite;
                    max-width: 90px;
                    max-height: 90px;
                }
            }
            .tools__box--text {
                justify-content: center;
                font-weight: 700;
                color: var(--color-dark);
                p {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

.box__text {
    padding: 10px;
    margin-top: 20px;
    max-width: 540px;
    .btn__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        animation: fadeInRight 1s ease-in-out;
        &:hover {
            svg {
                transform: translateX(10px);
            }
        }
        svg {
            transition: transform 0.2s ease-in;
        }
    }
    button {
        background-color: transparent;
        border: none;
        color: var(--color-primary);
        cursor: pointer;
    }
    .c-h3 {
        animation: fadeInRight 0.6s ease-in-out;
    }
    :nth-child(2) {
        animation: fadeInRight 0.7s ease-in-out;
    }
    p {
        animation: fadeInRight 0.8s ease-in-out;
    }
    :nth-child(4) {
        animation: fadeInRight 0.9s ease-in-out;
    }
}

@media screen and (max-width: 766px) {
    .box__with__assets--reverse {
        .img__container {
            .job__card {
                display: none;
            }
            .tools__box {
                display: none;
            }
        }
    }
}
@media screen and (min-width: 767px) {
    .box__with__assets--reverse {
        .job__card {
            display: block;
        }
        .tools__box {
            display: block;
        }
    }
}

// @media screen and (min-width: 767px) and (max-width: 1022px) {
//     .box__with__assets {
//         overflow: visible;
//         .img__container {
//             border-radius: 25px;
//         }

//     }
//     .box__with__assets--reverse {
//         .img__container {
//             border-radius: 25px;
//         }
//     }
// }

@media screen and (min-width: 1023px) {
    .box__with__assets {
        flex-direction: row;
        overflow: visible;
        .img__container {
            margin: 0;
            border-radius: 25px;
        }
    }
    .box__with__assets--reverse {
        flex-direction: row-reverse;

        .img__container {
            overflow: visible;
            border-radius: 25px 0 0 25px;

            .tools__box {
                display: block;
                bottom: -5%;
                left: -5%;
                .tools__box--img {
                    :first-child {
                        max-width: 73px;
                    }
                    :nth-child(2) {
                        max-width: 138px;
                    }
                    :last-child {
                        max-width: 50px;
                    }
                }
            }
            .job__card {
                display: block;
                left: -10%;
            }
        }
    }

    .box__text {
        margin: 0 auto;
    }
}
