
.c-hero{
    position: relative;

    --bottom: var(--c-pagesection__deco-size);
}

.c-hero__content{
    // pace grid items centred
    height: 100%;
    place-items: center;
}

.c-hero__text{
    font-size: calc(20/16 * 1rem);
    text-wrap: pretty;

    @include breakpoint(medium){
        margin-bottom: 20%;
    }
}

.c-hero__buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    @include breakpoint(medium){
        gap: 24px;
    }
}

.c-hero__video{
    --height: 40lvh;
    
    position: relative;
    aspect-ratio: 1/1.6;
    height: var(--height);
    
    border-radius: calc(var(--height) * 0.123) calc(var(--height) * 0.123) 0 0;
    overflow: hidden;
    
    isolation: isolate;
    z-index: -1;
    
    box-shadow: 0 41px 80px rgba(0, 0, 0, 0.5);
    
    pointer-events: none;

    @include breakpoint(medium){
        --height: 45lvh;
        translate: 10% 0;
    }

    @include breakpoint(large){
        --height: 70lvh;
        max-height: 920px;
    }
}

.c-hero__image{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom center;
    z-index: -1;
}

.c-hero__video-element{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom center;
}


.c-hero__content::after{
    width: 100%;
    height: 100%;
}

.c-hero__deco{
    position: absolute;
    z-index: -1;

    top: -150px;
    left: 0;
    height: 90lvh;
    width: 100vw;

    opacity: .04;

    & > svg {
        width: fit-content;
        height: 100%;

        overflow: visible;
    }
}
