/* ---------------------------------
=siteheader
--------------------------------- */

.c-siteheader {
  position: relative;

  color: var(--color-text);
  padding: calc(24 / 16 * 1rem) 0;

  @include breakpoint(medium) {
    padding: calc(36 / 16 * 1rem) 0;
  }

  @include breakpoint(large) {
    padding: calc(42 / 16 * 1rem) 0;
  }

  @include breakpoint(xlarge) {
    padding: calc(60 / 16 * 1rem) 0;
  }
}

.c-siteheader__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c-siteheader__menu {
  position: relative;
  margin: 0;

  @include breakpoint(medium) {
    display: none;
  }
}

.c-siteheader__nav {
  position: relative;
  z-index: 999;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & .c-mainnav {
    display: none;
  }

  
  @include breakpoint(medium) {
    & .c-mainnav {
      display: flex;
    }
  }
}