.c-link{
    display: flex;
    align-items: center;
    
    gap: 8px;
    white-space: nowrap;

    width: fit-content;

    svg {
        margin-top: 0.1em;
        height: 0.75em;
        width: 0.75em;
        transition: transform 0.3s ease-in-out;
    }

    &:hover{
        svg{
            transform: translateX(6px);
        }
    }
}