// -------------------------------------
// Titles
// -------------------------------------

.c-h1,
.c-h2,
.c-h3,
.c-h4,
.c-h5 {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: calc(1em / 100 * -3);

  font-family: var(--fontstack-alt);
  color: var(--color-dark);
}

.c-h1 {
  font-size: clamp(calc(42 / 16 * 1rem) , 5vw, calc(72/ 16 * 1rem));
  margin-bottom: calc(18 / 16 * 1rem);
  line-height: 1;
  
  // leeter spacing - 3% of font-size
  letter-spacing: calc(1em / 100 * -4);

  color: var(--color-primary);

  & span {
    display: block;
    color: var(--color-primary);
    color: var(--color-dark);
    font-size: clamp(calc(42 / 16 * 1rem) , 5.5vw, calc(82 / 16 * 1rem));
  }
}

.c-h1--invert {
  color: var(--color-white);
}

.c-h2 {
  font-size: calc(36 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);
  font-weight: 550;
  line-height: 1;
  letter-spacing: calc(1em / 100 * -3);

  @include breakpoint(medium) {
    font-size: calc(42 / 16 * 1rem);
  }

  @include breakpoint(large) {
    font-size: calc(54 / 16 * 1rem);
  }
}

.c-h3 {
  font-size: calc(22 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);

  @include breakpoint(medium) {
    font-size: calc(26 / 16 * 1rem);
  }

  @include breakpoint(large) {
    font-size: calc(31 / 16 * 1rem);
  }
}


.c-h4 {
  font-size: calc(18 / 16 * 1rem);
  margin-bottom: calc(18 / 16 * 1rem);
  
  @include breakpoint(medium) {
    font-size: calc(22 / 16 * 1rem);
  }
  
  @include breakpoint(large) {
    font-size: calc(26 / 16 * 1rem);
  }
}

.c-h4--font-main {
  font-family: var(--fontstack-main);
  letter-spacing: normal;
  font-weight: 600;
}

.c-h5 {
  font-size: calc(22 / 16 * 1rem);
  margin-bottom: calc(8 / 16 * 1rem);
  color: var(--color-secondary);
  font-family: var(--fontstack-main);
  font-weight: 400;

  @include breakpoint(large) {
    font-size: calc(26 / 16 * 1rem);
  }
}

// -------------------------------------
// Special titles
// -------------------------------------

.c-suptitle--dark {
  color: var(--color-brand5);
}

.c-smalltitle {
  font-weight: 500;
  font-size: calc(13 / 16 * 1rem);
  font-family: var(--fontstack-main);
  line-height: 1.2;
  color: var(--color-gray8);
  text-transform: uppercase;
  letter-spacing: 1px;
}
