.c-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 150px;
    padding: 12px 36px;
    box-sizing: border-box;

    font-size: 18px;
    font-family: var(--fontstack-main);
    font-weight: 400;
    text-decoration: none;
    
    
    color: var(--color-white);
    background: var(--color-primary);
    
    border: solid 2px transparent;
    
    filter: var(--brand-drop-shadow);

    transition: filter 0.5s ease-in-out, transform 0.4s ease-in-out 0.1s;

    @media all and (max-width: 950px) {
        padding: 12px 24px;
        font-size: 16px;
    }

    &:hover,
    &:focus {
        filter: var(--brand-drop-shadow--hover);
        transform: scale(1.05);
    }

}

// ---------------------------------
// =variants
// ---------------------------------

.c-btn--secondary {
    background-color: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.c-btn--small {
    padding: 10px 18px;
    font-size: calc(16 / 16 * 1rem);
}