.premium {
    margin: 0 auto;
    text-align: center;
    width: 90%;

    h2 {
      font-family: "Chillax", sans-serif;
      font-size: clamp(2rem, 5vw, 3rem);
      font-weight: 600;
      color: #102542;
      line-height: clamp(2rem, 1.2em, 3.6rem); /* Modification du line-height pour s'adapter aux tailles d'écran */
    }

    .offer {
      color: gray;
      font-weight: 600;
      margin: 2rem auto;
      font-family: "Chillax", sans-serif;
    }

    .formulae {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 4rem;
      padding-top: 2rem;
    }
  }

  .premium > p {
    font-size: 1.3rem;
  }

  .Card__premium {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    min-width: 20rem;
    max-width: 25rem;
    position: relative;

    p:first-child {
      font-size: 2rem;
      font-weight: 600;
      color: transparent;
      background: linear-gradient(to right,#e0295d,darkorchid);
      background-clip: text;
    }

    p:nth-child(3) {
      font-weight: 600;
    }

    .discount {
      position: absolute;
      font-size: 1.5rem;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #E0295D;
      color: #fff;
      border-radius: 1rem;
      padding: 0 1rem;
      font-weight: 600;
    }

    .price {
      font-size: 3rem;
      color: #000;
      font-weight: 500;
    }

    .advantages {
      display: flex;
      
      svg {
        position: relative;
        top: 4px;
      }
  
      p {
        margin: 0 0 0.5rem 1rem;
        font-weight: 500;
      }
    }
  }

  .advantages:last-of-type {
    margin-bottom: 2rem;
  }

  #premium__monthly .advantages:last-of-type p, #premium__year .advantages:last-of-type p {
    font-weight: 700;
  }

  .premium__btn {
    color: #fff;
    background: #E0295D;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    margin: auto auto 0;
    transition: ease-in-out 0.3s;
  }

  .premium__btn:hover {
    transform: scale(1.05);
  }