.c-nav{
    position: fixed;
    top: 0%;
    z-index: 99;
    padding: 1% 0%;

    width: 100%;
    height: 81px;

    // backdrop-filter: blur(3px);
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39.72%;

    user-select: none;
}
.c-nav__link{
    gap: 1.66666667%;
    margin: 0;
}