.c-vertical-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}

.c-vertical-section__titles{
    h2, h3, h4, h5{
        text-align: center;
    }

    .c-h2{
        margin-bottom: 0;
    }
}