// -------------------------------------
// Mobile menu
// -------------------------------------

.c-mobilemenu {
  display: none;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  box-sizing: border-box;
  width: 100%;
  min-height: 100lvh;

  padding: calc(24 / 16 * 1rem);

  background-color: var(--color-white);

  .c-socialmedia{
    animation: slideIn 0.3s ease-out .3s both;
  }

}

.c-mobilemenu.is-active {
  display: flex;

  @include breakpoint(medium) {
    display: none;
  }
}

.c-mobilenav {
  margin-top: 40vh;
  list-style: none;
  padding: 0;
  gap: calc(24 / 16 * 1rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-mobilenav__link {
  font-size: calc(22 / 16 * 1rem);

  &:hover,
  &:focus {
    color: var(--color-gray8);
    opacity: 0.66;
  }
}

// -------------------------------------
// Animations
// -------------------------------------

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.c-mobilenav {
  .is-active & {
    animation: slideIn 0.3s ease-out both;
  }
}
