.c-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .c-slide__title{
      color: var(--color-dark);
      text-align: center;
      font-family: var(--fontstack-alt);
      font-size: 42px;
      font-weight: 600;
      letter-spacing: calc((-1.26 / 16) * 100%);
  }

  .c-slide__gallery {
    overflow-x: auto;

    width: 100%;
    
    white-space: nowrap;
    padding: 70px 0px;

    cursor: grab;
    
    scroll-behavior: auto;
    
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    .c-slide__media{
        overflow: hidden;
        display: inline-block;
        position: relative;
        width: 280px;
        height: 280px;

        margin: 23px;
        border-radius: 25px;


        .c-slide__img {
            transition: ease-in-out 0.3s;
            width: 280px;
            height: 280px;

            filter: grayscale(100%);
            
            object-fit: cover;
            object-position: center;
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }


        .c-slide__content{
            position: absolute;
            top: 50%;
            left: 50%;
            transition: ease-in-out 0.3s;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translate(-50%, -50%);

            figcaption {
                width: 100%;

                font-weight: 600;
                font-family: var(--fontstack-alt); 
                font-size: 42px;
                text-align: center;

                text-shadow: 0px 1.63px 3.623px rgba(0, 0, 0, 0.17),
                0px 4.508px 10.017px rgba(0, 0, 0, 0.18),
                0px 10.853px 24.118px rgba(0, 0, 0, 0.19),
                0px 36px 80px rgba(0, 0, 0, 0.42);
                letter-spacing: calc((-1.26 / 16) * 100%);

                user-select: none;
                
                color: var(--color-white);
                gap: calc(10 / 16)rem;

                opacity: 0;
                transition: ease-in-out 0.3s;
            }
        }
        &:hover {

            .c-slide__img {
                filter: grayscale(0%);
                filter: blur(3px);

                transform: scale(1.15);
            }

            .c-slide__content {
                transform: translate(-50%, -58%);

                figcaption{
                    opacity: 1;
                }
            }
        }
    }
}
    .c-slide__subtitle{
        font-family: var(--fontstack-alt);
        font-size: 42px;
        font-weight: 600;
        color: var(--color-dark);
        text-align: center;
        letter-spacing: calc((-1.26 / 16) * 100%);

        span {
            color: var(--color-primary);
            font-size: 42px;
            font-weight: 600;
            letter-spacing: calc((-1.26 / 16) * 100%);
        }
    }