.c-logo {
    display: flex;
    align-items: center;

    gap: 12px;

    height: 72px;
    
    // anim on th icon when hover
    &:hover .c-logo__icon {
        transform: translate3d(0, -5px, 0) rotate(2deg);
    }
}


.c-logo__icon {
    filter: var(--brand-drop-shadow);

    transform-origin: bottom center;
    height: 100%;
    width: auto;

    transition: transform 0.2s ease-in-out;
}

.c-logo__text {
    height: 42%;
    width: auto;
}