<!DOCTYPE html>
<html lang="fr">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-K4SXP2HL');</script>
		<!-- End Google Tag Manager -->

		<!-- Google tag ANALYTICS (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-FF0TSHYM0J"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-FF0TSHYM0J');
		</script>
		<!-- End Google tag ANALYTICS (gtag.js) -->

		<!-- Google ADDS (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16857039680"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'AW-16857039680');
		</script>
		<!-- Google tag (gtag.js) -->

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ metaTitle }}</title>
		<meta name="author" content="{{ site.author }}">
		<meta name="description" content="{{ metaDescription }}">
		<meta name="generator" content="{{ eleventy.generator }}">

		<!-- Preload -->
  		<link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/Chillax-Variable.woff2">
  		<link rel="preload" as="font" crossorigin type="font/woff2" href="/assets/fonts/Switzer-Variable.woff2">

		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/main.css">

		<!-- Open Graph -->
		<meta property="og:url" content="{{ site.url ~ page.url }}"/>
		<meta property="og:title" content="{{ metaTitle }}"/>
		<meta property="og:image" content="{{ metaImage }}"/>
		<meta property="og:description" content="{{ metaDescription }}"/>

		<!-- Apple icon (minimal) -->
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<!-- Scripts -->
		<script type="module" src="/assets/js/main.bundle.js"></script>
		<script src="/assets/js/faq-accordion.js"></script>
		<script src="/assets/js/translation.js"></script>

		<script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@4/+esm"></script>
		<!-- schema.org -->
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "Tweetz",
				"url": "https://tweetz.com",
				"foundingDate": "2024",
				"logo": "https://www.tweetz.com/assets/img/logo-icon.svg",
				"subjectOf": {
					"@type": "VideoObject",
					"name": "Présentation de Tweetz",
					"description": "Démonstration du produit",
					"contentUrl": "https://www.tweetz.com/assets/img/tweetz-it.mp4",
					"duration": "T0M28S",
					"uploadDate": "2025-04-03",
					"thumbnailUrl": "https://www.tweetz.com/assets/img/thumbnail.png"
				},
				"vatID": "BE1007304022",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "Chaussée de Namur 145",
					"addressLocality": "Gembloux",
					"addressRegion": "Walloon Region",
					"postalCode": "5030",
					"addressCountry": "BE"
				},
				"telephone": "+32 491 63 32 51",
				"email": "contact@tweetz.com",
				"sameAs": [
					"https://www.instagram.com/tweetz_officiel",
					"https://www.tiktok.com/@tweetz_officiel",
					"https://www.linkedin.com/company/tweetz"
				],
				"contactPoint": [
				{
					"@type": "ContactPoint",
					"contactType": "customer service",
					"telephone": "+32 491 63 32 51",
					"email": "support@tweetz.com",
					"availableLanguage": ["French", "English"],
					"areaServed": "EU"
				},
				{
					"@type": "ContactPoint",
					"contactType": "marketing service",
					"telephone": "+32 491 63 32 51",
					"email": "marketing@tweetz.com",
					"availableLanguage": ["French", "English"],
					"areaServed": "EU"
				}
				],
				"alumni": [
					{
						"@type": "Person",
						"name": "Maisin Edouard"
					},
					{
						"@type": "Person",
						"name": "Maisin Lionel"
					}
				],
				"makesOffer": {
					"@type": "Offer",
					"itemOffered": {
						"@type": "Product",
						"name": "Tweetz Prime",
						"description": "Tweetz est la solution simple et rapide pour éliminer les frictions des navigateurs intégrés, booster l'engagement et augmenter vos conversions ainsi que vos revenus.",
						"brand": {
							"@type": "Brand",
							"name": "Tweetz"
						},
						"audience": {
							"@type": "Audience",
							"audienceType": ["content creators", "musicians", "streamer", "influence agency", "marketing"],
							"geographicArea": "EU"
						},
						"offers": [
						{
							"@type": "Offer",
							"name": "Free",
							"priceCurrency": "EUR",
							"price": "0.00"
						},
						{
							"@type": "Offer",
							"name": "Mensual",
							"priceCurrency": "EUR",
							"price": "4.99"
						},
						{
							"@type": "Offer",
							"name": "Annual",
							"priceCurrency": "EUR",
							"price": "49.99"
						}
						]
					}
				}
			}
		</script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K4SXP2HL"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{% include "partials/siteheader.njk" %}

		{% block content %}{% endblock %}

		{% include "partials/sitefooter.njk" %}
		
		<script src="/assets/js/input-redirect.js"></script>
	</body>
</html>