---
permalink: /creator/index.html
---

{% extends "layouts/base.njk" %}
{% set currentSection = "creator" %}
{% set metaTitle = "Creator page" %}
{% set metaDescription = "Tweetz description" %}
{% set metaImage = site.url ~ "/assets/img/metaimg.jpg" %}

{# {% set typeCardTypes =  [ "podcast", "vidéaste", "gamer", "codeur", "artiste"] %} #}
{% set typeCardTypes =  [ "podcast", "podcast", "podcast", "podcast", "podcast"] %}

{% from "macros/type-card.njk" import typeCard %}

{% block content %}
    <main>

        
        {% include "sections/creator/carousel-creator.njk" %}

        {% for typeCardType in typeCardTypes %}
            {{ typeCard(typeCardType) }}
        {% endfor %}

        <section class="sectionpage__group1">
            {% include "sections/creator/type-creator.njk" %}
        </section>

        <section class="c-pagesection c-pagesection--dark c-pagesection--deco">
            <div class="l-container c-image-text-container">

                {% include "sections/creator/formules-section.njk" %}

            </div>
        </section>

        <section class="c-pagesection c-pagesection--no-bottom c-pagesection--deco">
            <div class="l-container c-image-text-container">

                <div class="c-vertical-section">
                    <div class="c-vertical-section__titles">
                        <h5 class="c-h5">Un petit avant goût</h5>
                        <h2 class="c-h2">Quelques unes de nos solutions</h2>
                    </div>
                    {% include "partials/bento-grid.njk" %}
                    <a href="/#beta" class="c-btn">Rejoindre la beta</a>
                </div>

                <div class="c-image-cta">
                    <img class="c-image-cta__image" src="/assets/img/template_img-5.png" alt=""/>
                    <div class="c-image-cta__content">
                        <h2 class="c-image-cta__title">Prêt à créer ?</h2>
                        <p class="c-image-cta__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut adipiscing et amet, massa mi.</p>
                        <a href="/#beta" class="c-btn">Rejoindre la beta</a>
                    </div>
                </div>

            </div>
        </section>
    </main>

{% endblock %}