---
permalink: index.html
---

{% extends "layouts/base.njk" %}
{% set activeSection = "home" %}
{% set metaTitle = "Tweetz" %}
{% set metaDescription = "Tweetz description" %}
{% set metaImage = site.url ~ "/assets/img/metaimg.jpg" %}

{% block content %}
    <div class="c-loader js-loader">
        <div class="c-loader__content">
            {% include "svg/logo/logo-icon.svg" %}
            <p>Fly with us<span>.</span>
                <span>.</span>
                <span>.</span></p>
        </div>
    </div>

    <main>
        {# Hero #}
        <section class="c-hero">
            <div class="c-hero__deco">
                {% include "svg/logo/logo-text--stroke.svg" %}
            </div>
            <div class="l-container">

                <div class="c-hero__content l-grid l-grid--2cols@medium">
                    <div class="c-hero__text">
                        <div class="c-hero__logo">{% include "svg/logo/logo-text.svg" %}</div>
                        <h1 class="c-hero__title c-h1">Créez selon votre propre vision</h1>
                        <p class="c-hero__description">Faites revivre le gazouillis et libérez votre créativité !</p>

                        <div class="c-hero__buttons">
                            <a href="{{ site.urlApp }}" class="c-btn c-btn--secondary">Rejoindre la beta</a>
                            {# <a href="mailto:{{ site.email }}" class="c-btn c-btn--secondary">Nous contacter</a> #}
                        </div>
                    </div>
                    <div class="c-hero__video">
                        <video class="c-hero__video-element" autoplay="" muted="" loop="" playsinline="" poster="/assets/img/hero/hero-img-v2.jpg" >
                            <source src="/assets/img/hero/hero-video-v2.webm" type="video/webm">
                            <source src="/assets/img/hero/hero-video-v2.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </section>

            <section class="c-pagesection c-pagesection--first c-pagesection--deco c-pagesection--no-top-deco">
                <div class="l-container l-flex l-flex--column l-flex--l-gap">

                    <div class="c-image-text c-image-text--protect-image l-grid">
                        <div class="c-image-text__media">
                            <div class="c-image-text__image-container">
                                <img loading="lazy" class="o-fluidimage c-image-text__image" src="/assets/img/img-text/connection-page.jpg" alt="Connextion page screenshot">
                            </div>
                        </div>
                        <div class="c-image-text__text">
                            <h2 class="c-h2">Votre premier envol sur Tweetz</h2>
                            <p>Inscrivez-vous gratuitement et en toute simplicité. Développez votre influence en créant du contenu qui vous ressemble.
                             </p>
                            <a href="{{site.urlApp}}" class="c-link">Rejoindre la beta {% include "svg/arrow-right.svg" %}
                            </a>

                        </div>
                    </div>

                    <div class="c-image-text c-image-text--invert c-image-text--protect-image l-grid">
                        <div class="c-image-text__media ">
                            <div class="c-image-text__image-container">
                                <video class="o-fluidimage" autoplay="" muted="" loop="" playsinline=""  >
                                    <source src="/assets/img/app-videos/reccord-app.webm" type="video/webm">
                                    <source src="/assets/img/app-videos/reccord-app.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                            </div>
                        </div>
                        <div class="c-image-text__text">
                            <h2 class="c-h2">Suivez vos créateurs favoris</h2>
                            <p>Obtenez des contenus conçus exclusivement pour vous et créez des souvenirs inoubliables avec les créateurs que vous admirez le plus en démarrant une relation unique.</p>
                        </a>
                    </div>
                </div>

                <div class="c-image-text c-image-text--protect-image l-grid">
                    <div class="c-image-text__media">
                        <div class="c-image-text__image-container">
                            <img class="o-fluidimage c-image-text__image" src="/assets/img/post.jpg" alt="Post screenshot">
                        </div>
                    </div>
                    <div class="c-image-text__text">
                        <h2 class="c-h2">Exprimez vos idées</h2>
                        <p>Trouvez des personnes animées par la même passion que vous, partagez vos expériences et créez de nouveaux liens.</p>
                    </div>
                </div>

                <div class="c-image-text c-image-text--invert l-grid">
                    <div class="c-image-text__media">
                        <div class="c-image-text__image-container">
                            <img loading="lazy" class="o-fluidimage c-image-text__image" src="/assets/img/img-text/fan.jpg" alt="Femme sur son téléphone">
                        </div>
                    </div>
                    <div class="c-image-text__text">
                        <h2 class="c-h2">Atteignez chaque fan à chaque Tweetz</h2>
                        <p>Peu importe ce que vous faites, soyez simplement vous-même. Votre public est là pour vous et vous seul.</p>
                        <a href="`/creator" class="c-link">Je suis créateur {% include "svg/arrow-right.svg" %}
                        </a>
                    </div>
                </div>

            </div>
        </section>

        <section class="c-pagesection c-pagesection--dark c-pagesection--deco">
            <div class="l-container l-flex l-flex--column l-flex--l-gap">

                <div class="c-image-text l-grid">
                    <div class="c-image-text__media">
                        <div class="c-image-text__image-container">
                            <img loading="lazy" class="o-fluidimage c-image-text__image" src="/assets/img/img-text/sportif-coach.jpg" alt="Fille coach sportif">
                        </div>
                    </div>
                    <div class="c-image-text__text">
                        <h2 class="c-h2">Qui sommes-nous ?</h2>
                        <p>Tweetz est une nouvelle destination qui offre aux utilisateurs et aux créateurs en tout genre l’opportunité de façonner une communauté à leur image. <br>Notre mission est d'inspirer la créativité et de transformer votre passion en activité durable.</p>
                        <a href="/creator" class="c-link">Je suis créateur {% include "svg/arrow-right.svg" %}</a>
                    </div>
                </div>

                <div class="c-vertical-section">
                    <div class="c-vertical-section__titles l-container--narrow">
                        <h2 class="c-h2">Plusieurs chemins vers la rentabilité</h2>
                        <p>Construisez une activité durable sans publicité. En partant des abonnements pour offrir des avantages permanents aux messages privés jusqu'à la vente de vidéos personnalisées, explorez les différentes sources de revenus.</p>
                    </div>

                    {% include "partials/bento-grid.njk" %}

                    <div class="c-vertical-section__titles l-container--narrow">
                        <h2 class="c-h2">Boostez votre croissance</h2>
                        <p>Tweetz favorise non seulement le développement créatif, mais aussi votre activité professionnelle. Accédez à des analyses détaillées sur votre audience et découvrez nos outils de gestion pour vous aider à construire une activité florissante.</p>
                        <a href="{{ site.urlApp }}" class="c-btn">Rejoindre la beta</a>
                    </div>
                </div>

            </div>
        </section>

        <section class="c-pagesection c-pagesection--deco c-pagesection--no-bottom">
            <div class="l-container">

                <div class="c-vertical-section">
                    <div class="c-vertical-section__titles l-container--narrow" id="parrainage">
                        <h2 class="c-h2">Votre réseau, c'est de l'or !</h2>
                        <p> Devenez ambassadeur et transformez votre réseau en source de revenus en invitant les talents autour de vous à rejoindre l’aventure Tweetz. Profitez de chaque nouvelle inscription pour augmenter vos gains.</p>
                    </div>

                    <div class="l-flex l-flex--column l-flex--s-gap">
                        <h3 class="c-h3">Comment cela fonctionne-t-il ?</h3>

                        <div class="l-flex c-litle-block-container l-flex--s-gap l-flex--wrap">
                            <div class="c-litle-block c-litle-block--center">
                                <h4 class="c-h4 c-h4--font-main" data-number="1">Invitez des Créateurs</h4>
                                <p>C’est simple et efficace ! Présentez Tweetz autour de vous et partagez votre lien de parrainage avec le plus grand nombre de créateurs. </p>
                            </div>
                            <div class="c-litle-block c-litle-block--center">
                                <h4 class="c-h4 c-h4--font-main" data-number="2">Gagnez avec eux</h4>
                                <p>Inscrivez un créateur et gagnez 15 % de tous les revenus générés par ses ventes de contenus, à vie, payés par Tweetz.</p>
                            </div>
                            <div class="c-litle-block c-litle-block--center">
                                <h4 class="c-h4 c-h4--font-main" data-number="3">Suivez et Gérez</h4>
                                <p>Suivez les performances de vos talents, gérez vos créateurs et partagez leurs succès.</p>
                            </div>
                        </div>

                        <a style="margin: 42px 0" href="https://calendly.com/tweetz-creators/30min?month=2025-01" target="_blank" class="c-btn">Réserver un appel</a>
                    </div>

                    <div class="c-image-cta">
                        <img  loading="lazy" class="c-image-cta__image" src="/assets/img/image-cta/home.jpg" alt="Femme souriant à la camera"/>
                        <div class="c-image-cta__content">
                            <h2 class="c-image-cta__title">Prêt à créer ?</h2>
                            <p class="c-image-cta__desc">Vous êtes un créateur passionné ? Découvrez notre espace dédié aux créateurs et partagez votre talent avec le monde entier.</p>
                            <a href="/creator" class="c-btn">Je suis créateur</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>
{% endblock %}