---
permalink: index.html
---

{% extends "layouts/base.njk" %}
{% set activeSection = "home" %}
{% set metaTitle = "Welcome" %}
{% set metaDescription = "Tweetz description" %}
{% set metaImage = site.url ~ "/assets/img/metaimg.jpg" %}
{% block content %}
    <main>
        {% include "sections/hero-section.njk" %}
        {% include "sections/philosophie-section.njk" %}
        {% include "sections/philosophie-section2.njk" %}
    </main>
{% endblock %}