---
permalink: index.html
---

{% extends "layouts/base.njk" %}
{% set activeSection = "home" %}
{% set metaTitle = "Welcome" %}
{% set metaDescription = "Tweetz description" %}
{% set metaImage = site.url ~ "/assets/img/metaimg.jpg" %}

{% block content %}
    <div class="c-loader js-loader">
        <div class="c-loader__content">
            {% include "svg/logo/logo-icon.svg" %}
            <p>Fly with us<span>.</span>
                <span>.</span>
                <span>.</span></p>
        </div>
    </div>

    <main>
        {# Hero #}
        <section class="c-hero">
            <div class="c-hero__deco">
                {% include "svg/logo/logo-text--stroke.svg" %}
            </div>
            <div class="l-container">

                <div class="c-hero__content l-grid l-grid--2cols@medium">
                    <div class="c-hero__text">
                        <div class="c-hero__logo">{% include "svg/logo/logo-text.svg" %}</div>
                        <h1 class="c-hero__title c-h1">Créez selon votre propre vision</h1>
                        <p class="c-hero__description">Faites revivre le gazouillis et apportez votre créativité !</p>

                        <div class="c-hero__buttons">
                            <a href="/#beta" class="c-btn c-btn--secondary">Rejoindre la beta</a>
                            {# <a href="mailto:{{ site.email }}" class="c-btn c-btn--secondary">Nous contacter</a> #}
                        </div>
                    </div>
                    <div class="c-hero__video">
                        <video class="c-hero__video-element" autoplay="" muted="" loop="" playsinline="" poster="assets/img/hero/hero-img.jpg" >
                            <source src="assets/img/hero/hero-video.webm" type="video/webm">
                            <source src="assets/img/hero/hero-video.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </section>

            <section class="c-pagesection c-pagesection--first c-pagesection--deco c-pagesection--no-top-deco">
                <div class="l-container l-flex l-flex--column l-flex--l-gap">

                    <div class="c-image-text c-image-text--protect-image l-grid">
                        <div class="c-image-text__media">
                            <div class="c-image-text__image-container">
                                <img loading="lazy" class="o-fluidimage c-image-text__image" src="/assets/img/img-text/connection-page.jpg" alt="Connextion page screenshot">
                            </div>
                        </div>
                        <div class="c-image-text__text">
                            <h2 class="c-h2">Votre premier envol sur Tweetz</h2>
                            <p>Inscrivez-vous en toute simplicité. Développez votre influence en créant du contenu qui vous ressemble.
                             </p>
                            <a href="/beta" class="c-link">Rejoindre la beta {% include "svg/arrow-right.svg" %} </a>

                        </div>
                    </div>

                    <div class="c-image-text c-image-text--invert l-grid">
                        <div class="c-image-text__media ">
                            <div class="c-image-text__image-container">
                                <img loading="lazy" class="o-fluidimage c-image-text__image" src="/assets/img/img-text/girl-coocking.jpg" alt="Femme cuisinant en se filmant">
                            </div>
                        </div>
                        <div class="c-image-text__text">
                            <h2 class="c-h2">Suivez vos créateurs favoris</h2>
                            <p>Soutenez vos créateurs et partagez des moments privilégiés avec eux en démarrant un lien unique.</p>
                            <a href="/" class="c-link">Je suis fan {% include "svg/arrow-right.svg" %}
                            </a>
                        </div>
                    </div>
                    

                    <div class="c-image-text c-image-text--protect-image l-grid">
                        <div class="c-image-text__media">
                            <div class="c-image-text__image-container">
                                <img class="o-fluidimage c-image-text__image" src="/assets/img/post.jpg" alt="Post screenshot">
                            </div>
                         </div>
                        <div class="c-image-text__text">
                            <h2 class="c-h2">Exprimez vos idées</h2>
                            <p>Obtenez des contenus conçus exclusivement pour vous et créez des souvenirs inoubliables avec les créateurs que vous admirez.</p>
                        </div>
                    </div>

                    <div class="c-image-text c-image-text--invert l-grid">
                        <div class="c-image-text__media">
                            <div class="c-image-text__image-container">
                                <img loading="lazy" class="o-fluidimage c-image-text__image" src="/assets/img/img-text/fan.jpg" alt="Femme sur son téléphone">
                            </div>
                        </div>
                        <div class="c-image-text__text">
                            <h2 class="c-h2">Atteignez chaque fan à chaque Tweetz</h2>
                            <p>Peu importe ce que vous faites, soyez simplement vous-même. Votre public est là pour vous, et vous seul.</p>
                            <a href="/" class="c-link">Je suis créateur {% include "svg/arrow-right.svg" %}
                            </a>
                        </div>
                    </div>

                </div>
            </section>

            <section class="c-pagesection c-pagesection--dark c-pagesection--deco">
                <div class="l-container l-flex l-flex--column l-flex--l-gap">

                    <div class="c-image-text l-grid">
                        <div class="c-image-text__media">
                            <div class="c-image-text__image-container">
                                <img loading="lazy" class="o-fluidimage c-image-text__image" src="/assets/img/img-text/sportif-coach.jpg" alt="Fille coach sportif">
                            </div>
                        </div>
                        <div class="c-image-text__text">
                            <h2 class="c-h2">Qui sommes-nous ?</h2>
                            <p>Tweetz est une nouvelle destination offrant aux utilisateurs et aux créateurs en tout genre l’opportunité de façonner une communauté à leur image. <br>Notre mission est d'inspirer la créativité et de transformer votre passion en une activité durable.
                            </p>
                            <a href="/" class="c-link">Je suis créateur {% include "svg/arrow-right.svg" %}
                            </a>
                        </div>
                    </div>
    
                    <div class="c-vertical-section">
                        <div class="c-vertical-section__titles l-container--narrow">
                            <h2 class="c-h2">Plusieurs chemins vers la rentabilité</h2>
                            <p>Construisez une activité durable sans publicité. En partant des abonnements pour offrir des avantages permanents aux messages privés jusqu'à la vente de vidéo personnalisé, explorez les différentes sources de revenus.</p>
                        </div>

                        {% include "partials/bento-grid.njk" %}

                        <div class="c-vertical-section__titles l-container--narrow">
                            <h2 class="c-h2">Boostez votre croissance</h2>
                            <p>Tweetz favorise non seulement le développement créatif, mais aussi votre activité professionnelle. Accédez à des analyses détaillées sur votre audience, découvrez des outils de gestion pour vous aider à construire une activité florissante.</p>
                            <a href="/#beta" class="c-btn">Rejoindre la beta</a>
                        </div>
                    </div>

                </div>
            </section>

            <section class="c-pagesection c-pagesection--no-bottom c-pagesection--deco">
                <div class="l-container">
                    <div class="l-flex l-flex--column l-flex--l-gap">

                        <div class="l-container l-container--narrow">
                            <div class="c-vertical-section c-beta" id="beta">
                                <div class="c-vertical-section__titles">
                                    {# <h2 class="c-h2">Lancez-vous</h2> #}
                                    <h2 class="c-h2">Passez à l'action</h2>
                                </div>
                                <p class="c-vertical-section__text c-beta__text">Nous mettons à la disposition des créateurs un espace qui leur permet de s’approprier leur potentiel et de renforcer les liens avec leurs fans. <br> Tweetz veut faire revivre le gazouillis et nous voulons que vous vous joigniez à nous…</p>
                                <a href="mailto:{{ site.email }}" class="c-btn">Nous contacter</a>
                            </div>
                        </div>

                        <div class="c-image-cta">
                            <img  loading="lazy" class="c-image-cta__image" src="/assets/img/image-cta/home.jpg" alt="Femme souriant à la camera"/>
                            <div class="c-image-cta__content">
                                <h2 class="c-image-cta__title">Prêt à créer ?</h2>
                                <p class="c-image-cta__desc">Vous êtes un créateur passionné ? Découvrez notre espace dédié aux créateurs et partagez votre talent avec le monde entier.</p>
                                <a href="/creator" class="c-btn">Je suis créateur</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    {% endblock %}