.l-flex {
    display: flex;
    gap: var(--gap);
    width: 100%;
}

.l-flex--l-gap {
    gap: var(--gap-large);
}

.l-flex--s-gap {
    gap: var(--gap-small);
}

.l-flex--column {
    flex-direction: column;
    align-items: center;
}

.l-flex--wrap {
    flex-wrap: wrap;
}