// -------------------------------------
// Containers
// -------------------------------------

/**
 * Centered and have max-width + padding
*/

:root{
    --l-container__padding: calc(24 / 16 * 1rem);

    @include breakpoint(medium) {
        --l-container__padding: calc(42 / 16 * 1rem);
    }
}

.l-container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1240px;
    padding-left: var(--l-container__padding);
    padding-right: var(--l-container__padding);
    box-sizing: border-box;
}

.l-container--narrow {
    max-width: 672px;
}
