<div class="l-container">
    <div class="c-carousel">
        <div class="c-carousel__gallery">
            <img class="c-carousel__item" src="/assets/img/carousel/streameuse.jpg" alt="Slide 1">
            <img class="c-carousel__item" src="/assets/img/carousel/influenceuse.jpg" alt="Slide 2">
            <img class="c-carousel__item" src="/assets/img/carousel/sportif.jpg" alt="Slide 3">
        </div>
        <div class="c-carousel__content">
            <div class="c-carousel__title-group">
                <h3 class="c-carousel__subtitle">Pour vous,</h3>
                <h1 class="c-h1 c-carousel__title">créateur</h1>
            </div>
            <div class="c-carousel__footer">
                <p class="c-carousel__desc">Explorez un monde de créativité où l'expression artistique prend vie.</p>
                <a href="{{ site.urlApp }}" class="c-btn">Démarrer</a>
            </div>
        </div>
        <div class="c-carousel__bubbles"></div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const carousel = document.querySelector(".c-carousel__gallery");
        let currentIndex = 0;
        let isResetting = false;

        // Duplicate the first slide and append it to the carousel for seamless looping
        const firstSlide = carousel.firstElementChild.cloneNode(true);
        carousel.appendChild(firstSlide);

        const numberOfSlides = carousel.children.length;

        function showSlide(index) {
            if (index >= numberOfSlides) {
                // Instantly reset to the first slide without transition
                isResetting = true;
                carousel.style.transition = 'none';
                carousel.style.transform = "translateX(0)";
                currentIndex = 0;
                // Allow for the reset to apply before re-enabling transitions
                setTimeout(() => {
                    isResetting = false;
                }, 50); // Short timeout
            } else {
                if (!isResetting) {
                    // Normal slide transition
                    carousel.style.transition = 'transform 0.5s ease-in-out';
                    const newTransformValue = -index * 100 + '%';
                    carousel.style.transform = `translateX(${newTransformValue})`;
                    currentIndex = index;
                }
            }
        }

        // Automatic sliding logic
        setInterval(() => {
            showSlide(currentIndex + 1);
        }, 5000); // Change slides every 3 seconds
    });
</script>
