<div class="c-formule">
    
    <div class="c-image-text c-image-text--invert l-grid">
        <div class="c-image-text__text">

            <h2 class="c-h2" data-i18n="p2_formulae_title"></h2>
            <div class="c-formule__text">
                <p data-i18n="p2_formulae_content"></p>
                <a href="{{ site.urlApp }}" class="c-link" data-i18n="App">{% include "svg/arrow-right.svg" %} </a>

            </div>
        </div>
    </div>
    {# profile picture #}
    <div class="c-formule__profiles-container">
        <div class="c-formule__profiles">
            <div class="c-formule-profile">
                <div class="c-formule-profile__image" data-index="0">
                    <img src="/assets/img/formules/sportive.jpg" alt="Femme qui fait du sport">
                </div>
                {% include "svg/certified.svg" %}
            </div>
            <div class="c-formule-profile is-active" data-index="1">
                <div class="c-formule-profile__image">
                    <img src="/assets/img/formules/chef.jpg" alt="Cuinier">
                </div>
                {% include "svg/certified.svg" %}
            </div>
            <div class="c-formule-profile" data-index="2">
                <div class="c-formule-profile__image">
                    <img src="/assets/img/formules/foot.jpg" alt="Homme faisant du foot">
                </div>
                {% include "svg/certified.svg" %}
            </div>
        </div>

        <div class="c-formule__profiles-footer">
            <h4 class="c-h4 c-h4--font-main">Chef Alcun</h4>
            <p class="c-formule__tag">Cuisinier</p>
        </div>

    </div>

    {# Cards formules #}
    <div class="c-formule__card-container">
        <div class="c-formule-card">
            <div class="c-formule-card__img">
                <img src="/assets/img/formules/plat2.jpg" alt="Plat 1" />
            </div>
            <div class="c-formule-card__text">
                <h5 class="c-h5" data-i18n="p2_formulae_free"></h5>
                <h3 class="c-formule-card__title c-h3" data-i18n="p2_formulae_title_one"></h3>
                <p class="c-formule-card__description" data-i18n="p2_formulae_content_one"></p>
            </div>
        </div>
        {# #}
        <div class="c-formule-card is-active">
            <div class="c-formule-card__img">
                <img src="/assets/img/formules/plat1.jpg" alt="Plat 2" />
            </div>
            <div class="c-formule-card__text">
                <h5 class="c-h5">5€</h5>
                <h3 class="c-formule-card__title c-h3" data-i18n="p2_formulae_title_two"></h3>
                <p class="c-formule-card__description" data-i18n="p2_formulae_content_two"></p>
            </div>
        </div>
        {# #}
        <div class="c-formule-card">
            <div class="c-formule-card__img">
                <img src="/assets/img/formules/plat3.jpg" alt="Plat 3" />
            </div>
            <div class="c-formule-card__text">
                <h5 class="c-h5">10€</h5>
                <h3 class="c-formule-card__title c-h3" data-i18n="p2_formulae_title_three"></h3>
                <p class="c-formule-card__description" data-i18n="p2_formulae_content_three"></p>
            </div>
        </div>
    </div>

</div>
