<div class="c-formule">
    
    <div class="c-image-text c-image-text--invert l-grid">
        <div class="c-image-text__text">

            <h5 class="c-h5">On s’adapte à vous !</h5>
            <h2 class="c-h2">Les abonnements</h2>
            <div class="c-formule__text">
                <p>Chez Tweetz, nous comprenons que chaque créateur est unique, avec des besoins et des styles différents. C'est pourquoi nos abonnements sont conçus pour s'adapter à vous, en vous offrant la liberté et la flexibilité de personnaliser votre expérience.</p>
            </div>
        </div>
    </div>
    {# profile picture #}
    <div class="c-formule__profiles-container">


        <div class="c-formule__profiles">
            <div class="c-formule-profile">
                <div class="c-formule-profile__image" data-index="0">
                    <img src="/assets/img/formules/alain_ducasse.webp" alt="Cuisinier 1">
                </div>
                {% include "svg/certified.svg" %}
            </div>
            <div class="c-formule-profile is-active" data-index="1">
                <div class="c-formule-profile__image">
                    <img src="/assets/img/formules/be_sang.jpeg" alt="Cuisinier 2">
                </div>
                {% include "svg/certified.svg" %}
            </div>
            <div class="c-formule-profile" data-index="2">
                <div class="c-formule-profile__image">
                    <img src="/assets/img/formules/george-blanc.jpeg" alt="Cuisinier 3">
                </div>
                {% include "svg/certified.svg" %}
            </div>
        </div>

        <div class="c-formule__profiles-footer">
            <h4 class="c-h4 c-h4--font-main">Chef name</h4>
            <p class="c-formule__tag">Cuisinier</p>
        </div>

    </div>

    {# Cards formules #}
    <div class="c-formule__card-container">
        <div class="c-formule-card">
            <div class="c-formule-card__img">
                <img src="/assets/img/formules/plat2.webp" alt="Plat 1" />
            </div>
            <div class="c-formule-card__text">
                <h5 class="c-h5">Gratuit</h5>
                <h3 class="c-formule-card__title c-h3">Commis</h3>
                <p class="c-formule-card__description">Découvrez une variété de recettes faciles à réaliser, parfaites pour
                    les débutants en cuisine.
                    Profitez de conseils pratiques pour améliorer vos compétences et savourez le plaisir de cuisiner au
                    quotidien.</p>
            </div>
        </div>
        {# #}
        <div class="c-formule-card is-active">
            <div class="c-formule-card__img">
                <img src="/assets/img/formules/plat1.jpeg" alt="Plat 2" />
            </div>
            <div class="c-formule-card__text">
                <h5 class="c-h5">5€</h5>
                <h3 class="c-formule-card__title c-h3">Cuistot</h3>
                <p class="c-formule-card__description">L'abonnement "Cuistot" vous ouvre la porte à une sélection variée de
                    recettes originales et de guides de cuisine. Apprenez de nouvelles techniques et explorez des cuisines
                    du monde entier. </p>
            </div>
        </div>
        {# #}
        <div class="c-formule-card">
            <div class="c-formule-card__img">
                <img src="/assets/img/formules/plat3.jpeg" alt="Plat 3" />
            </div>
            <div class="c-formule-card__text">
                <h5 class="c-h5">10€</h5>
                <h3 class="c-formule-card__title c-h3">Chef</h3>
                <p class="c-formule-card__description"> Profitez d'ateliers en ligne avec des chefs renommés, de recettes
                    inédites et de conseils d'experts pour perfectionner vos techniques culinaires.</p>
            </div>
        </div>
    </div>

</div>
