<div class="l-container">
    <div class="c-slide">
        <h2 class="c-slide__title">Peu importe qui vous êtes...</h2>
        <div class="c-slide__gallery">
            <div class="c-slide__media">
                <img src="./../../assets/img/podcast-creator.png" alt="..." class="c-slide__img"/>
                <div class="c-slide__content">
                    <img class="c-slide__icon" src="./../../assets/img/icon-type.svg" alt="..."/>
                    <figcaption>Podcast</figcaption>
                </div>
            </div>
            <div class="c-slide__media">
                <img src="./../../assets/img/video-creator.jpg" alt="..." class="c-slide__img"/>
                <div class="c-slide__content">
                    <img class="c-slide__icon" src="./../../assets/img/icon-type.svg" alt="..."/>
                    <figcaption>Vidéaste</figcaption>
                </div>
            </div>
            <div class="c-slide__media">
                <img src="./../../assets/img/dev-creator.jpg" alt="..." class="c-slide__img"/>
                <div class="c-slide__content">
                    <img class="c-slide__icon" src="./../../assets/img/icon-type.svg" alt="..."/>
                    <figcaption>Codeur</figcaption>
                </div>
            </div>
            <div class="c-slide__media">
                <img src="./../../assets/img/artist-creator.jpg" alt="..." class="c-slide__img"/>
                <div class="c-slide__content">
                    <img class="c-slide__icon" src="./../../assets/img/icon-type.svg" alt="..."/>
                    <figcaption>Artiste</figcaption>
                </div>
            </div>
            <div class="c-slide__media">
                <img src="./../../assets/img/gamer-creator.jpg" alt="..." class="c-slide__img"/>
                <div class="c-slide__content">
                    <img class="c-slide__icon" src="./../../assets/img/icon-type.svg" alt="..."/>
                    <figcaption>Gamer</figcaption>
                </div>
            </div>
        </div>
        <h3 class="c-slide__subtitle">...
            <span>tweetz</span>
            s’adapte à vous.</h3>
    </div>
</div>
<script>
    let startX;
    let scrollLeft;
    let isDown = false;
    const slider = document.querySelector('.c-slide__gallery');
    slider.addEventListener('pointerdown', (e) => {
        isDown = true;
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('pointerleave', () => {
        isDown = false;
    });
    slider.addEventListener('pointerup', () => {
        isDown = false;
    });
    slider.addEventListener('pointermove', (e) => {
        if (! isDown) 
            return;
        
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3; // scroll-fast
        slider.scrollLeft = scrollLeft - walk;
    });
</script>