// -------------------------------------
// Colors
// -------------------------------------

:root {
  --color-primary: #E0295DFF;
  --color-secondary: #470FF4FF;
  --color-yellow: #FFD046FF;
  --color-purple: #71168DFF;
  --color-dark: #102542FF;

  --color-black: #0D091BFF;
  --color-white: #FCFBFFFF;

  --color-grey-1: #191526FF;
  --color-grey-2: #242032FF;
  --color-grey-3: #3B3848FF;
  --color-grey-4: #6A6675FF;
  --color-grey-5: #9895A2FF;
  --color-grey-6: #AFADB9FF;
  --color-grey-7: #C7C4CFFF;
  --color-grey-8: #DEDBE6FF;
  --color-grey-9: #E8E4F3FF;
  --color-grey-10: #EAE8F3FF;
  --color-grey-11: #F0EFF4FF;
}