// -------------------------------------
// Colors
// -------------------------------------

:root {
  --color-primary: #E0295D;
  --color-secondary: #470FF4;
  --color-yellow: #FFD046;
  --color-purple: #71168D;
  --color-dark: #102542;

  --color-black: #0D091B;
  --color-white: #FCFBFF;

  --color-grey-1: #191526;
  --color-grey-2: #242032;
  --color-grey-3: #3B3848;
  --color-grey-4: #6A6675;
  --color-grey-5: #9895A2;
  --color-grey-6: #AFADB9;
  --color-grey-7: #C7C4CF;
  --color-grey-8: #DEDBE6;
  --color-grey-9: #E8E4F3;
  --color-grey-10: #EAE8F3;
  --color-grey-11: #F0EFF4;
}