// -------------------------------------
// Colors
// -------------------------------------

:root {
  --gap : 30px;

  --gap-large : calc(var(--gap) * 2);
  
  --gap-small : calc(var(--gap) / 4);

  @include breakpoint(medium) {
    --gap : 36px;
  }

  @include breakpoint(large) {
    --gap : 60px;
  }

  @include breakpoint(xlarge) {
    --gap : 90px;
  }
}