<div class="c-bento-grid">
    <div class="c-bento-grid__card--1 c-bento-grid__card">
        <div class="c-bento-grid__bg">
            <img src="" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="c-bento-grid__card--2 c-bento-grid__card">
        <div class="c-bento-grid__bg">
            <img src="" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="c-bento-grid__card--3 c-bento-grid__card">
        <div class="c-bento-grid__bg">
            <img src="" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="c-bento-grid__card--4 c-bento-grid__card">
        <div class="c-bento-grid__bg">
            <img src="" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="c-bento-grid__card--5 c-bento-grid__card">
        <div class="c-bento-grid__bg">
            <img src="" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
    <div class="c-bento-grid__card--6 c-bento-grid__card">
        <div class="c-bento-grid__bg">
            <img src="" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>