<div class="c-bento-grid">
    <div class="lives c-bento-grid__card c-bento-grid__card--smaller-media">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img o-fluidimage" src="/assets/img/bento-grid-tweetz-it/magic.jpg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main" data-i18n="grid_one"></h4>
            <p data-i18n="grid_content_one"></p>
        </div>
    </div>
    <div class="wallet c-bento-grid__card">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img o-fluidimage" src="/assets/img/bento-grid-tweetz-it/stats.jpg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main" data-i18n="grid_two"></h4>
            <p data-i18n="grid_content_two"></p>
        </div>
    </div>
     <div class="abo c-bento-grid__card">
        <div class="c-bento-grid__media">
            <img src="/assets/img/bento-grid-tweetz-it/bento.svg">
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main" data-i18n="grid_three"></h4>
        </div>
    </div>
    <div class="crm c-bento-grid__card c-bento-grid__card--smaller-media">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img o-fluidimage" src="/assets/img/bento-grid-tweetz-it/direction.jpg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main" data-i18n="grid_five"></h4>
        </div>
    </div>
    <div class="post c-bento-grid__card c-bento-grid__card--smaller-media">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img o-fluidimage" src="/assets/img/bento-grid-tweetz-it/scan.png" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main" data-i18n="grid_six"></h4>
            <p data-i18n="grid_content_six"></p>
        </div>
    </div>
    <div class="messages c-bento-grid__card">
        <div class="c-bento-grid__media" style="max-width: 84px">
            <svg width="100" height="101" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M87.5 81.2656H12.5V18.7656" stroke="#E0295D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M81.25 25.0156L50 56.2656L37.5 43.7656L12.5 68.7656" stroke="#E0295D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M81.25 40.6406V25.0156H65.625" stroke="#E0295D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main" data-i18n="grid_seven"></h4>
            <p data-i18n="grid_content_seven"></p>
        </div>
    </div>
</div>