<div class="c-bento-grid">
    <div class="lives c-bento-grid__card c-bento-grid__card--smaller-media">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img o-fluidimage" src="/assets/img/bento-grid/lives.jpg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Lives</h4>
            <p>Interagissez en direct avec votre communauté.<br>
            <span>Bientôt disponible</span></p>
        </div>
    </div>
    <div class="wallet c-bento-grid__card">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img o-fluidimage" src="/assets/img/bento-grid/wallet.png" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Monétisation</h4>
            <p>Monétisez votre contenu et consultez votre solde.</p>
        </div>
    </div>
     <div class="abo c-bento-grid__card">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img o-fluidimage" src="/assets/img/bento-grid/abonnements.png" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Les abonnements</h4>
            <p>Monétisez votre contenu avec l'aide de nos formules d'abonnements entièrement personnalisables à votre effigie.</p>
        </div>
    </div>
    <div class="crm c-bento-grid__card c-bento-grid__card--smaller-media">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img o-fluidimage" src="/assets/img/bento-grid/crm.svg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">CRM</h4>
            <p>Suivez votre activité et vos statistiques en temps réel.</p>
        </div>
    </div>
    <div class="post c-bento-grid__card c-bento-grid__card--smaller-media">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img o-fluidimage" src="/assets/img/post.jpg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Publications</h4>
            <p>L'accès à la monétisation de votre contenu instantanément.</p>
        </div>
    </div>
    <div class="messages c-bento-grid__card">
        <div class="c-bento-grid__media" style="max-width: 84px">
            <svg  class="c-bento-grid__img o-fluidimage"fill="none" height="46" viewBox="0 0 77 46" width="77" xmlns="http://www.w3.org/2000/svg"><rect fill="#fcfbff" height="45.6463" rx="22.8232" width="76.9389"/><g fill="#e0295d"><circle class="circle" cx="22.8232" cy="22.8232" r="4.82315"/><circle cx="38.4696" cy="22.8232" r="4.82315"/><circle cx="54.1161" cy="22.8232" r="4.82315"/></g></svg>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Messages</h4>
            <p>Discutez et monétisez votre contenu en personne avec votre communauté.</p>
        </div>
    </div>
</div>