<div class="c-bento-grid">
    <div class="c-bento-grid__card--1 c-bento-grid__card">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img" src="/assets/img/bento-grid/lives.jpg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Lives</h4>
            <p>Interagis en direct avec ta communauté. <br>
            <span>soon</span></p>
        </div>
    </div>
    <div class="c-bento-grid__card--2 c-bento-grid__card">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img" src="/assets/img/bento-grid/wallet.png" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Wallet</h4>
            <p>Consulte ton solde & tes revenus facilement.</p>
        </div>
    </div>
    <div class="c-bento-grid__card--3 c-bento-grid__card">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img" src="/assets/img/bento-grid/crm.svg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">CRM</h4>
            <p>Suis ton activité et tes statistiques en temps réel.</p>
        </div>
    </div>
    <div class="c-bento-grid__card--4 c-bento-grid__card">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img" src="/assets/img/post.jpg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Publications</h4>
            <p>L’accès à la monétisation de ton contenu en instantané.</p>
        </div>
    </div>
    <div class="c-bento-grid__card--5 c-bento-grid__card">
        <div class="c-bento-grid__media">
            <img class="c-bento-grid__img" src="/assets/img/bento-grid/abonnements.png" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Les abonnements</h4>
            <p>Monétise ton contenu l’aide de nos formules d’abonnements entièrement personnalisable a ton effigie.
</p>
        </div>
    </div>
    <div class="c-bento-grid__card--6 c-bento-grid__card">
        <div class="c-bento-grid__media" style="max-width: 84px">
            <img class="c-bento-grid__img" src="/assets/img/bento-grid/messages.svg" alt=""/>
        </div>
        <div class="c-bento-grid__text">
            <h4 class="c-h4 c-h4--font-main">Messages</h4>
            <p>Discute & monétise ton contenu en personne avec ta communauté</p>
        </div>
    </div>
</div>