<div class="c-hamburger js-hamburger">
  <svg fill="none" viewBox="0 0 50 50" height="50" width="50">
    <path
      class="c-hamburger__lineTop c-hamburger__line"
      stroke-linecap="round"
      stroke-width="4"
      stroke="black"s
      d="M6 11L44 11"
    ></path>
    <path
      stroke-linecap="round"
      stroke-width="4"
      stroke="black"
      d="M6 24H43"
      class="c-hamburger__lineMid c-hamburger__line"
    ></path>
    <path
      stroke-linecap="round"
      stroke-width="4"
      stroke="black"
      d="M6 37H43"
      class="c-hamburger__lineBottom c-hamburger__line"
    ></path>
  </svg>
</div>
