<div class="c-mainnav">

  {% include "macros/logo.njk" %} 

  <nav aria-label="main navigation">
    {% for navItem in mainnav %}
      {% if loop.first %}<ul class="c-mainnav">{% endif %}
        {% set currentClass = "" %}
        {% set currentAria = "" %}
          {% if navItem.isPrimary %}
            {% set currentClass = "is-primary c-btn" %}
          {% elseif navItem.isSecondary %}
            {% set currentClass = "is-secondary c-btn c-btn--secondary" %}
          {% else %}
            {% if navItem.trigger == currentSection %}
              {% set currentClass = "is-current" %}
              {% set currentAria = 'aria-current="page"'|safe %}
            {% endif %}
          {% endif %}
        <li class="c-mainnav__item"><a class="c-mainnav__link  {{ currentClass }}" {{ currentAria }} href="{{ navItem.url }}">{{ navItem.label }}</a></li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}
  </nav>
</div>