<div class="c-mobilemenu js-mobilemenu">
  
  <nav aria-label="mobile navigation">
    {% for navItem in mainnav %}
    {% if loop.first %}
      <ul class="c-mobilenav">
      {% endif %}
      {% set currentClass = "" %}
      {% set additionnalClasses = "" %}
      {% set currentAria = "" %}
      {% if navItem.isPrimary %}
        {% set additionnalClasses = "c-btn" %}
      {% elseif navItem.isSecondary %}
        {% set additionnalClasses = "c-btn c-btn--secondary" %}
      {% else %}
        {% if navItem.trigger == currentSection %}
          {% set currentClass = "is-current" %}
          {% set currentAria = 'aria-current="page"'|safe %}
        {% endif %}
      {% endif %}
      <li class="c-mainnav__item">
        <a class="c-mainnav__link {{ currentClass }} {{ additionnalClasses }}" {{ currentAria }} href="{{ navItem.url }}" title="{{ navItem.label }}">{{ navItem.label }}</a>
      </li>
      {% if loop.last %}
      </ul>
    {% endif %}
  {% endfor %}
  </nav>

  <nav aria-label="social media">
    <ul class="c-socialmedia">
      {% for item in socialmedia %}
        <li class="c-socialmedia__item">
          <a class="c-socialmedia__link" href="{{ item.url }}" aria-label="{{ item.name }} title="{{ item.name }}">{% include "svg/socials/" ~ item.icon %}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>