<div class="partners">
    <h2 data-i18n="partners_title"></h2>
    <div class="partners__card">
        <div>
            <a href="https://www.instagram.com/dielsmk/?hl=fr" target="_blank">
                <img src="../assets/img/tweetz-it/dielsmk.webp" width="100" height="100">
            </a>
            <p>@dielsmk</p>
        </div>
        <div>
            <a href="https://www.tiktok.com/@jeremydruaux?lang=fr" target="_blank">
                <img src="../assets/img/tweetz-it/jeremydruaux.webp" width="100" height="100">
            </a>
            <p>@jeremydruaux</p>
        </div>
        <div>
            <a href="https://www.youtube.com/c/wakedxy" target="_blank">
                <img src="../assets/img/tweetz-it/wakedxy.webp" width="100" height="100">
            </a>
            <p>@wakedxy</p>
        </div>
        <div>
            <a href="https://open.spotify.com/intl-fr/artist/1qLdKSJ9LVozxJVnF919s4" target="_blank">
                <img src="../assets/img/tweetz-it/jimaves.webp" width="100" height="100">
            </a>
            <p>@jimavesmusic</p>
        </div>
    </div>
</div>