<header class="c-siteheader">

  <div class="l-container">
    {% include "partials/mainnav.njk" %}
    <p class="c-siteheader__menunav">
      <a class="c-menulink  js-menutrigger" href="#footernav">Menu</a>
    </p>
  </div>

  {% include "partials/mobilemenu.njk" %}

</header>