<footer>
  <div class="c-pagesection">

    <div class="l-container">
      <div class="c-sitefooter">

        <div class="c-sitefooter__nav">
          <p class="c-siteheader__logo">
            <a aria-label="Homepage" href="/">{% include "partials/logo.njk" %}</a>
          </p>
          <div class="lang-select">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M5 8L11 14M4 14L10 8L12 5M2 5H14M7 2H8M22 22L17 12L12 22M14 18H20" stroke="#555" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <select id="lang">
              <option value="fr">French</option>
              <option value="en">English</option>
              <option value="es">Spanish</option>
            </select>
            <div class="after-content"></div>
          </div>
          {% include "partials/mainnav.njk" %}
        </div>

        <hr>

        <div class="c-sitefooter__footer">
          <p class="c-copyright">&copy; <time datetime="{{ site.buildTime | dateISO }}">{{ site.buildTime | dateYear }}</time> - Tweetz</p>
          <a class="c-sitefooter__link" href="https://support.tweetz.com/" target="_blank" rel="noopener noreferrer" data-i18n="support"></a>
          <nav class="c-sitefooter__social" aria-label="social media">
            <ul class="c-socialmedia">
              {% for item in socialmedia %}
                <li class="c-socialmedia__item">
                  <a class="c-socialmedia__link" href="{{ item.url }}" aria-label="{{ item.name }}" title="{{ item.name }}">{% include "svg/socials/" ~ item.icon %}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>