<header class="c-siteheader">

  <div class="l-container">
    <div class="c-siteheader__nav">
      {% include "partials/logo.njk" %}
      <select id="lang">
        <option value="fr">🇫🇷</option>
        <option value="en">🇬🇧</option>
        <option value="es">🇪🇸</option>
      </select>
      <div class="after-content"></div>
      {% include "partials/mainnav.njk" %}
      <a class="c-siteheader__menu js-navtrigger" href="#footernav">{% include "partials/hamburger.njk" %}</a>
    </div>
  </div>

  {% include "partials/mobilemenu.njk" %}

</header>