<div class="c-image-text c-image-text--invert l-grid">
    <div class="c-image-text__media">

        <div class="c-image-text__image-container">
            <img class="o-fluidimage c-image-text__image" src="/assets/img/img-text/vers-avant.jpg" alt="Homme de dos">
        </div>
    </div>
    <div class="c-image-text__text">
        <h5 class="c-h5">Votre parole, notre priorité</h5>
        <h2 class="c-h2">Ta voix, ton contenu,ton oeuvre</h2>
        <p>Chez Tweetz, nous croyons fermement que la clé du succès réside dans l'écoute active de notre communauté. Chaque jour, nous nous engageons à être attentifs aux besoins, idées et retours de nos utilisateurs. Vos voix sont la force motrice derrière chaque mise à jour et innovation que nous apportons à notre plateforme.</p>
        <a href="mailto:{{ site.email }}" class="c-link"> Nous contacter {% include "svg/arrow-right.svg" %}</a>
    </div>
</div>